{% extends 'myapp/base.html'%}
{% block body %}
{% load cache %}
    <div>
        {% cache 900 page_obj %}
        {% for item in page_obj %}
        <div class="m-10 flex w-1/2 mx-auto">
            <div>
                <img class="w-64 rounded-lg" src="{{item.item_image}}" alt="">
            </div>
            <div class="mx-5">
                <div class="font-bold text-xl">{{item.item_name}}</div>
                <div class="font-bold">{{item.user_name}}</div>
                <div>{{item.item_description}}</div>
                <div class="text-green-700 font-bold">${{item.item_price}}</div>
                {% if item.is_available %}
                    <div class="text-green-700">Available</div>
                {% else %}
                    <div class="text-red-700">Not Available</div>
                {% endif %}
            </div>
            <div>
                <a class="bg-yellow-200 font-bold text-xl px-4 py-2 rounded-lg" href="{% url 'myapp:detail' item.id %}">View Details</a>
            </div>
        </div>
        {% endfor %}
        {% endcache %}
    </div>
    <div class="flex items-center justify-center space-x-4 pb-4">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="bg-yellow-200 font-bold text-l px-4 py-2 rounded-2xl hover:bg-yellow-300">Prev</a>
        {% endif %}
        <span>Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="bg-yellow-200 font-bold text-l px-4 py-2 rounded-2xl hover:bg-yellow-300">Next</a>
        {% endif %}
    </div>  
{% endblock %}